{% load static %}
<html>
	<head>
		<title>Fine Manager | View Employees</title>
		<meta charset = "utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom fonts for this template -->
	    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
	    <!-- Plugin CSS -->
	    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">
	
	    <!-- Custom styles for this template -->
	    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
	      <div class="container">
	        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fine Manager</a>
	        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          Menu
	          <i class="fas fa-bars"></i>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item mx-0 mx-lg-1">
	              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/manager/home/" target = "_blank">Home</a>
	            </li>
	            <li class="nav-item mx-0 mx-lg-1">
	              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/manager/home/#contact">Apply fines</a>
	            </li>
	            <li class="nav-item mx-0 mx-lg-1">
	              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/manager/delete_fine">Remove fines</a>
	            </li>
	            <li class="nav-item mx-0 mx-lg-1">
	              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/manager/view_fine">View fines</a>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	    <header class = "masthead bg-primary">
	    	<form class="md-form mt-0 mb-3 pl-3 mr-3" method = "GET" action = ".">
  				<input class="" type="text" placeholder="Search" aria-label="Search" name = "search">
  				<button type = "submit" class = "">Search</button>
			</form>
		    <table class = "table table-bordered text-white">
		    	<tr>
		    		<th>Employee ID</th>
		    		<th>Name of the employee</th>
		    	</tr>
		    	{% for i in db %}
			    	<tr>
			    		<td>{{i.employee_id}}</td>
			    		<td>{{i.name}}</td>
			    	</tr>
			    {% endfor %}
			</table>
		</header>
		<!-- Bootstrap core JavaScript -->
	    <script src="vendor/jquery/jquery.min.js"></script>
	    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	    <!-- Plugin JavaScript -->
	    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	
	    <!-- Contact Form JavaScript -->
	    <script src="js/jqBootstrapValidation.js"></script>
	    <script src="js/contact_me.js"></script>
	
	    <!-- Custom scripts for this template -->
	    <script src="js/freelancer.min.js"></script>
	</body>
</html>